/* STYLE.CSS */

:root {
  --primary-color: #357abd;
  --hover-color: #555;
  --background-color: #f9f9f9;
  --text-color: #333;
  --border-radius: 8px;
  --transition-speed: 0.3s;
  --title-color: #222121;
  --title-font: 'Georgia', serif;
  --title-letter-spacing: 0.1em;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.selected {
  border-width: 2px;
  border-color: #4299e1;
  color: #4299e1;
  cursor: not-allowed;
}

.selected:hover {
  background-color: initial;
}

.toggle-on {
  background-color: #dbeafe;
  color: #1e40af;
  transition: background-color 0.3s, color 0.3s;
}

.always-on-top-btn:hover {
  background-color: #eff6ff;
}

.hidden {
  display: none;
}

.login-container,
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#login-container .w-full {
  max-width: 280px;
  width: 100%;
}

#login-container form {
  background-color: #fff;
  padding: 15px;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#login-container h2 {
  margin-bottom: 15px;
  color: var(--title-color);
  text-align: center;
  font-family: var(--title-font);
  letter-spacing: var(--title-letter-spacing);
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  transition: all var(--transition-speed);
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 5px rgba(53, 122, 189, 0.5);
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: background-color var(--transition-speed), box-shadow var(--transition-speed);
}

button:hover {
  background-color: var(--hover-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.buttons-open {
  padding: 0.5rem;
  font-size: 0.875rem;
}

#show-register-form,
#back-to-login {
  font-size: 0.8rem;
}

button:hover {
  background-color: #357abd;
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 0.5rem;
}

.button-container .status-btn,
.button-container .always-on-top-btn {
  width: 200px;
  margin: 0.5rem 0;
}

.status-btn:disabled,
#submit-note:disabled {
  cursor: not-allowed;
}

#show-register-form {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: var(--primary-color);
  text-decoration: none;
  font-size: 12px;
  transition: color var(--transition-speed);
}

#show-register-form:hover {
  color: var(--hover-color);
}

#login-form,
#register-form {
  max-width: 280px;
  margin: auto;
}

.flex.flex-col.space-y-2 button,
.flex.flex-col.space-y-2 a {
  width: auto;
  margin: 0 auto;
}

#custom-dialog {
  z-index: 1000;
}

#note-dialog {
  z-index: 900;
}

@media (max-width: 240px) {

  .login-container,
  #register-container {
    padding: 0.5rem;
  }

  input[type="text"],
  input[type="password"] {
    font-size: 0.75rem;
  }

  button {
    font-size: 0.75rem;
  }
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: var(--background-color);
  padding: 20px;
  border: 1px solid #888;
  border-radius: var(--border-radius);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  max-width: 320px;
  width: calc(100% - 40px);
  box-sizing: border-box;
}

.mode-btn {
  background-color: var(--primary-color);
  color: white;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color var(--transition-speed);
}

.mode-btn:hover {
  background-color: var(--hover-color);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#loading {
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.loading-display {
  display: flex;
}

.fa-spinner {
  font-size: 2rem;
  color: #4299e1;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  z-index: 100;
  border-radius: 4px;
}

.dropdown-menu a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
}

.dropdown-menu a:hover {
  background-color: #ddd;
}

.dropdown-menu .separator {
  height: 1px;
  background-color: #444;
  margin: 5px 0;
}

.dropdown-button {
  background: var(--primary-color);
  color: white;
  padding: 4px 8px;
  border-radius: var(--border-radius);
  transition: background-color var(--transition-speed);
}

.dropdown-button:hover {
  background-color: #555;
}

.dropdown-button:focus {
  background-color: #555;
}

#note-text {
  outline: 1px solid #ccc;
}

#note-text:focus {
  outline: none;
  border: 2px solid #4299e1;
}

.admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
}

.admin-button {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 0;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.admin-button:hover {
  background-color: var(--hover-color);
}

#delete-button {
  background-color: transparent;
  border: none;
  color: #000000;
  background-color: rgb(255, 4, 4);
  font-size: 22px;
  padding: 2px 4px;
  cursor: pointer;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#delete-button:hover {
  color: #cc0000;
  background-color: rgb(0, 0, 0);
}